:root {
    --navBarHeight: 30px;
    --sideBarHeight: 200px
}

#navBar {
    background-color: rgb(233, 203, 253);
    height: var(--navBarHeight);
    padding: 20px
}

#sidebar {
    background-color: rgb(102, 102, 139);
    width: var(--sideBarHeight);
    padding: 10px
}

#main {
    background-color: rgb(145, 208, 219);
    width: calc(100vw - var(--sideBarHeight));
    padding: 10px
}

.flexRow {
    display: flex;
}

#about {
    margin-right: 10px;
}

.menuItem {
    width: 200px;
    height: 250px;
    margin: 4px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.box {
    height: 100px;
    width: 100px;
    background-color:azure;
    border: 1px solid black;
    margin: 4px;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.flexStart {
    justify-content: flex-start;
}

.flexEnd {
    justify-content: flex-end;
}

body {
    margin: 0px;
}

.mealTime {
    margin: 10px;
    color: white
}